<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>::: Layout title :::</title>
</head>
<body>

<div>
    <div sec:authorize="${isAuthenticated()}">
        Username: <span th:text="${#authentication.getName()}" /> <b th:text="${#authentication.getPrincipal().getFullName()}" />
    </div>
</div>

<section layout:fragment="content">
    <p>Page content goes here</p>
</section>
</body>
</html>